
@font-face
{
    font-family: 'alterna';
    src: url(../../fonts/alterna.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;

}


html, body
{
    background-color: #000000;
    margin: 0;
    /*overflow: auto;*/
  /*  height: 100%;
  width: 100%;*/

}

#block_page
{
    width: 725px;
    margin: auto;

    display: flex;
    flex-direction: column; 
}

a:visited
{
  text-decoration: none; color:blue;
}

/*SECTION*/

section
{
    /*position: absolute;*/
    display: flex;
    flex :1.5;
    /*border: 3px solid white;*/
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column; 
}



#leaderboard_container
{
    display: flex;
    flex-direction: column; 
    background-color: gray;
}

h1
{
    margin-left: 1%;
}

p
{
    margin-left: 2%;

}
